*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins', sans-serif;
}

/* Header Styles */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color:  #8376d5;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-name{
    color: white;
}

.nav-menu {
    display: flex; 
}

.nav-menu-list {
    display: flex;
    list-style: none; 
}

.nav-list {
    margin-left: 20px; 
}

.nav-link {
    color: white; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    transition: color 0.3s; 
}

.nav-link i {
    margin-right: 5px; 
}

.nav-link:hover {
    color: black;
    font-weight: bold;
}

.profile-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}



/* Responsive Styles */
@media (max-width: 768px) {
    #header {
        display: flex;
        padding: 10px; 
    }
    .nav-menu-list {
        flex-direction: column; 
        display: none;         
        width: 100%;           
        position: absolute;     
        background-color:  #8376d5;
        top: 60px;              
        left: 0;
    }

    .nav-menu-list.show {
        display: flex; 
    }

    .menu-toggle {
        display: block; 
        color: white;
    }

}


/* Bio-Section */

.bio-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    background-color: #ffffff;
}

.text{
    font-size: 32px;
    color: #282c34;
    margin-bottom: 10px;
}

.bio-name{
    font-size: 40px;
    font-weight: 600;
    color: #282c34;
    margin-block: 20px;

}
.typedText{
    color: #8376d5;
}

.text-info {
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.8;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px; 

}

.social-icons a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s; 
    cursor: pointer;
}

.icon:hover {
    background-color: #958bdb;
}

.icon:hover i {
    color: white;
}

/* About Me */

.top-header{
    text-align: center;
    margin: 50px;
}

.top-header h1{
    font-size: 30px;
    font-weight: bold;
    color: #282c34;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    padding-block: 40px 60px;
    padding-inline: 30px;
    border-radius: 15px;
    box-shadow: 0 -8px 8px #fafafa, 0 8px 8px #fafafa;
    max-width: 90%;
}

.about-info p{
    font-size: 17px;
    color: #282c34;
    line-height: 1.8;  
    text-align: justify;
}

.about{
    max-width: 70%;
}

.about-btn button{
    position: absolute;
    background-color:  #8376d5;
    color:  white;
    border-radius: 30px;
    font-size: 17px;
}

/* Education and Experience */

.exp-container{
    max-width: 90%;
    margin: auto;
    flex-direction: column;
}

.timeline{
    padding: 30px 10px;
    position: relative;
    background-color: #fafafa ;
    border-radius: 15px;
    box-shadow: 0 -8px 8px #fafafa, 0 8px 8px #fafafa;
}

.timeline::before{
    content: " ";
    top:0;
    bottom: 0;
    position: absolute;
    width: 3px;
    background-color: #333;
    left: 50%;
    /* margin-left: -2.5; */
    
}

.timeline >li{
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;

}

.timeline >li:before, 
.timeline> li:after{
    content: " ";
    display: table;
}

.timeline >li:after{
    clear: both;
}

.timeline li .timeline-badge{
    color:   #7366c7;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 46%;
    float: left;
    cursor: pointer;
}

.timeline-panel-container-inverted{
    width: 46%;
    float: right;
    cursor: pointer;
}

.timeline-panel{
    width: 90%;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px  rgba(0,0,0,0.175);
    background-color: #fff;
    border-bottom: 3px solid #8376d5;
}

.timeline-panel-container-inverted .timeline-panel{
    float: left;
}

.timeline-panel::after{
    position: absolute;
    top:27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel::after{
    border-left-width: 0px;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color:  #7366c7;
}

.text-muted{
    color: #8e8a8a;
}


/* Skills */

.skill-header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.skill-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-set {
    width: 500px; 
    margin: 15px;
    text-align: left; 
}

.skill-set p {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.skill {
    width: 100%; 
    height: 20px; 
    background-color: #e0e0e0; 
    border-radius: 10px;
    position: relative; 
}

.skill-bar {
    height: 100%;
    border-radius: 5px; 
}

.percentage {
    position: absolute;
    right: 0; 
    top:-20px;
    margin-left: 10px; 
    font-weight: bold; 
}

/* projects */

.project-header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box{
    background-color: white;
    margin: 20px;
    width: 325px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.project-box:hover{
    box-shadow: 
    0px 8px 14px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.container-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-photo{
    width: auto;
    height: 200px;
    object-fit: cover;
    padding: 20px;
    padding-bottom: 0px;
}

.project-content{
    padding: 16px;
}

.project-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.project-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.project-content span{
    font-size: 15px;
    color: #666;

}

/* Contact Me */

.contact-header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 40%;
    color: #282c34;
    transition: background-color .4s ease;
    border-radius: 20px;
    box-shadow: 2px 5px 8px lightgray;
    overflow: hidden;
}

.contact-info:hover{
    background-color: #8376d5;
    color: white;

}
.contact-info h2{
    margin-bottom: 20px;
    color: #8376d5;
}

.contact-info p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 5px;
}

.contact-info p i{
    color:  #8376d5;
    font-size: 18px;
}

.contact-info:hover i{
    color: white;

}

.contact-info:hover h2{
    color: white;

}

.contact{
    /* max-width: 800px; */
    width: 40%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 5px 8px lightgray;
    border-radius: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button{
    background-color: #8376d5;;
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
}

.contact button:hover {
    background-color: #7366c7;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8376d5;
    color: white;
    padding: 20px 50px;
    margin-top: auto;
    
}

.footer-copywWrite h4 {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-links a i {
    margin-right: 5px;
}

.footer-btn{
    display: flex;
    justify-content: end;
}

.btn {
    background-color:  #8376d5; 
    color: white; 
    align-items: flex-end;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    right: 20px;
    bottom: 20px;
}


/* page up */

.circle-button {
    position: fixed;
    bottom: 80px; 
    right: 20px; 
    background-color:  #7366c7; 
    color: white; 
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 2px 5px 8px lightgray;
    transition: background-color 0.3s; 
}

.circle-button a {
    color: white; 
}



