@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.swiper-button-prev,
.swiper-button-next{
  color: #c084fc !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #9333ea !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}

.swiper-slide-active:hover {
  transform: scale(1.05);
}

.swiper-pagination-bullet {
  background-color: #c084fc !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: #9333ea !important;
  opacity: 1;
}   