@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1B4965 !important;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #62B6CB !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}

.swiper-slide-active:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.swiper-pagination-bullet {
  background-color: #62B6CB !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #1B4965 !important;
  opacity: 1;
}